<mat-toolbar color="primary">
 <mat-toolbar-row>
    <span style="margin-left: 30%;">
    <mat-icon class="example-icon" >format_list_bulleted</mat-icon><span style="margin-right: 15px;padding-top: 1px;">Forms</span>
    <mat-icon class="example-icon">group</mat-icon><span style="margin-right: 15px;padding-top: 1px;">Customers</span>

    <mat-icon class="example-icon" routerLink="/submissions">graphic_eq</mat-icon><span style="margin-right: 15px;padding-top: 1px;">Submissions</span>

    <mat-icon class="example-icon">history</mat-icon><span style="margin-right: 15px;padding-top: 1px;">History</span>

    <mat-icon class="example-icon" >insert_chart_outlined</mat-icon><span style="margin-right: 15px;padding-top: 1px;">Reports</span>

    <mat-icon class="example-icon" >insert_chart_outlined</mat-icon><span style="margin-right: 15px;padding-top: 1px;">WorkFlow</span>
</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">notifications</mat-icon>
    <mat-icon class="example-icon">logout</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
